@page
@model _1104001期末.Pages.gameInfoModel
@{
     ViewData["Title"] = "遊戲介紹";
}

<div class="container text-white my-5">
    <h1 class="display-4 text-center mb-4 dream-title fw-bold">d.RE.ma project：遊戲簡介</h1>
    </div>

<h4 class="text-center text-white dream-title">
    名為”世”的少女墜入了仙境，被自稱為”源”的少年喚醒，賦予為核心去除”汙穢的使命，而後展開了仙境的探索之旅......
</h4>


<div class="my-4">
    <h3 class="text-start text-white dream-subtitle fw-bold ms-5">遊戲玩法</h3>
    <h4 class="text-start text-white dream-subtitle ms-5">
        關鍵字：3D節奏遊戲、唯美奇幻、視覺小說
    </h4>
    <p class="text-white dream-story ms-3">
        本作為結合唯美奇幻視覺小說的3D節奏遊戲，讓玩家在聆聽音樂節奏之餘也能感受劇情的浪漫，並以視覺小說的呈現方式使玩家了解角色們的完整故事。
    </p>

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5">遊戲世界</h3>
    <p class="text-white dream-story ms-3">
        本作參考眾多末日預言、卡巴拉生命樹以及占星學、神學等題材，且參考熱門節奏遊戲的遊玩模式，對故事及遊戲流程進行構思。
        生命樹系統如下圖所示，參考卡巴拉生命樹的修練順序，玩家闖關進程為自下往上攀爬。
    </p>
    <img src="~/images/bg.png" class="dream-story w-50 ms-5" />

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5">遊戲體驗</h3>
    <p class="text-start text-white dream-story ms-5">
        玩家介面：參考花的意象，主畫面為唯美粉色系UI，且將會使用花朵、水晶等元素點綴。

        音樂風格：初定主要將會收錄唯美系Artcore、哥德系Gothic Hardcore、古典系Classic…等多重風格現代電音。
        
        待補充。
    </p>

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5">主畫面</h3>
    <p class="text-start text-white dream-story ms-5">
        待新增。
    </p>

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5">譜面鍵型</h3>
    <p class="text-start text-white dream-story ms-5">
        如圖所示。長條雖然沒有尾判，但能塞判定點。
    </p>

    <img src="~/images/gameinfo1.png" class="dream-story w-50 ms-5"/>
    <br />
    <h3 class="text-start text-white dream-subtitle fw-bold ms-5 mt-5">遊玩畫面demo</h3>
    <p class="text-start text-white dream-story ms-5">
        下圖為大致草稿。遊戲本體製作中，未來將放上實際畫面。
           1. 右上角數字為分數，AP為All perfect標記，若顯示則表示目前為止玩家皆有精準擊中音符；FC則為Full Combo標記，表示目前為止玩家皆有擊中音符。
           2. 數字下方的淡紫色長條為歌曲進度，深藍色長條則為SAN值，橙黃色方框則為判定線，玩家須在此線上擊中音符。
           3. 玩家遊玩前三個難度時，整體譜面至多只會出現4條引導線，遊玩第四難度則會出現6條。
           4. 音符可直線飛向判定，也可跟隨引導線隨意扭動飛向判定。
           5. 背景可隨譜面向前滾動或轉動。
    </p>
    <img src="~/images/gameinfo2.png" class="dream-story w-50 ms-5" />

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5 mt-5">曲目遊玩結束畫面</h3>
    <p class="text-start text-white dream-story ms-5">
        畫面上的文字會判定玩家遊玩結果進而顯示不同的文字。
    </p>
    <img src="~/images/gameinfo3.png" class="dream-story w-50 ms-5" />

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5 mt-5">結算畫面</h3>
    <p class="text-start text-white dream-story ms-5">
        1.右上角為玩家頭像、名字、等級與知識值。
        2.畫面的右邊為玩家使用的角色，下方為角色技能。
        3.畫面中央為玩家遊玩結果的評分與擊中音符數量。
        4.左邊為玩家遊玩的歌曲曲繪、曲名與作曲家。
    </p>
    <img src="~/images/gameinfo4.png" class="dream-story w-50 ms-5" />

    <h3 class="text-start text-white dream-subtitle fw-bold ms-5 mt-5">額外獎勵</h3>
    <p class="text-start text-white dream-story ms-5">
        遊玩體驗：
        玩家可透過不斷遊玩歌曲提升自己的閱歷等級，挑戰較難的歌曲成功後也可提升自己的知識值，兩種機制皆可使玩家獲得成就感。
        
        重玩誘因：
        遊戲持續更新收錄的歌曲、劇情，使歌曲庫更加多元，即可讓玩家透過遊玩新的劇情以及歌曲獲得新的感官體驗。

        成就與彩蛋系統：
        當玩家達成一些艱難或奇妙的條件後，即獲得成就、稱號，也可觸發彩蛋。
        (例如第一次精準擊中所有音符獲得成就、知識值突破一定數值即獲得稱號、將自己的遊戲名改成角色名並觸發角色台詞彩蛋等)

    </p>
        
</div>