@page
@model IndexModel
@{
    ViewData["Title"] = "首頁";
}

<div class="page-bg"></div>

<div class="text-overlay text-white text-center" style="padding-top: 40vh; min-height: 3000px;">
    <h1 class="dream-title display-4">歡迎來到這片仙境。</h1>
    <p class="dream-subtitle lead">Invited and guided by the blue butterfly, the girl awakens in the wonderland...</p>

    <a class="btn btn-outline-light glow-button mt-4" href="/List">踏入幻境之門，尋找其他核心</a>
    <br />

    <div>

        <a class="btn btn-outline-light glow-button mt-4" href="/gameInfo">撫摸散落的花瓣，了解幻境法則</a>

        <br />
        <br />
        <br />

        <a href="https://discord.gg/fsGNPAaDde" target="_blank" class="text-decoration-none">
            <div class="discord-card d-flex align-items-center p-3 mt-3">
                <img src="/images/dcicon.jpg" alt="Discord Icon" class="discord-icon me-3">

                
                <div class="ms-2">
                    <h5 class="mb-1 discord-title">d.RE.ma project官方Discord</h5>
                    <p class="mb-0 discord-desc">
                        <strong>進入時請閱讀規則並請尊重原創</strong>
                    </p>
                </div>
            </div>
        </a>

</div>




