<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _1104001期末</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_1104001期末.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="bg-overlay"></div>
    <div class="page-bg"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">

            <a class="navbar-brand text-white" asp-area="" asp-page="/Index">_d.RE.ma Project.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Index">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/List">質點總覽</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/gameInfo">遊戲介紹</a>
                        </li>
                    </ul>
                </div>
            
        </nav>
    </header>
    <main role="main" class="flex-grow-1 pb-3 position-relative">
            @RenderBody()
        </main>

    <div style="height: 60px;"></div>
    <footer class="footer text-white text-center py-2">
        <div class="container py-3">
            &copy; 2025 - d.RE.ma project ｜ 作者：小蒼蘭 ｜
            <a href="https://lit.link/en/Queesia" target="_blank" class="text-decoration-none text-light">個人社群帳號</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>